# Comparing TP and FP variants in GIAB

In [106]:
import pandas as pd 

df = pd.read_csv("data_TPFP.table", sep="\t")
FP = df[(df["STATUS"]<='FP')&(df["FILTER"]<='PASS')]
TP = df[(df["STATUS"]<='TP')&(df["FILTER"]<='PASS')]

'''
null_columns=df.columns[df.isnull().any()]
x = df[null_columns].isnull().sum()   #sum of all null values for each column of FP variants 
#y = df[df["18M01315.DP"].notnull()]
'''

'\nnull_columns=df.columns[df.isnull().any()]\nx = df[null_columns].isnull().sum()   #sum of all null values for each column of FP variants \n#y = df[df["18M01315.DP"].notnull()]\n'

In [105]:
FP.head()

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,AC,AF,AN,...,MLEAC,mcap.mcap,spidex.dpsi_max_tissue,spidex.dpsi_zscore,18M01315.DP,18M01315.AD,18M01315.FT,18M01315.GQ,18M01315.GT,18M01315.PL
10,1,1635004,.,T,C,38775.80,PASS,1,0.63,2,...,29,NaN,0.0952,0.469,147,"81,66",NaN,99,T/C,"1499,0,1838"
11,1,1635749,.,C,A,35611.10,PASS,1,0.565,2,...,26,NaN,0.062,0.35,177,"101,76",NaN,99,C/A,"1619,0,2460"
12,1,1636044,.,G,A,24698.70,PASS,1,0.652,2,...,30,NaN,-0.123,-0.515,154,"95,59",NaN,99,G/A,"1280,0,2123"
13,1,1636330,.,G,A,1208.91,PASS,1,0.022,2,...,1,NaN,-0.1232,-0.515,74,"23,51",NaN,99,G/A,"1246,0,468"
14,1,1647778,.,C,G,42023.80,PASS,1,0.5,2,...,23,NaN,-33.9843,-3.402,146,"79,67",NaN,99,C/G,"1625,0,2068"

In [107]:
TP.head()

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,AC,AF,AN,...,MLEAC,mcap.mcap,spidex.dpsi_max_tissue,spidex.dpsi_zscore,18M01315.DP,18M01315.AD,18M01315.FT,18M01315.GQ,18M01315.GT,18M01315.PL
0,1,977330,.,T,C,85772.5,PASS,1,0.848,2,...,39,NaN,-3.9233,-2.336,220,"105,115",NaN,99,T/C,"2676,0,2312"
1,1,978603,.,CCT,C,24806.4,PASS,1,0.543,2,...,25,NaN,NaN,NaN,67,"42,25",NaN,99,CCT/C,"903,0,1829"
2,1,981931,.,A,G,109356.0,PASS,1,0.848,2,...,39,NaN,0.0298,0.195,234,"122,112",NaN,99,A/G,"2607,0,2861"
3,1,982941,.,T,C,102819.0,PASS,1,0.848,2,...,39,NaN,-0.1338,-0.543,208,"96,112",NaN,99,T/C,"2656,0,2177"
4,1,982994,.,T,C,115314.0,PASS,1,0.848,2,...,39,NaN,-0.0089,-0.03,214,"103,111",NaN,99,T/C,"2732,0,2336"

In [ ]:
df['CHROM'].unique()